[submodule "SDL"]
	path = SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = release-3.4.14
[submodule "box2d"]
	path = box2d
	url = https://github.com/erincatto/box2d.git
	branch = v3.1.1
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
	branch = 1.0.3